{% load i18n %}
{% trans "Choose an embed video" as choose_str %}
{% include "wagtailadmin/shared/header.html" with title=choose_str merged=1 tabbed=1 icon="media" %}

<section id="search" class="{% if not uploadform.errors %}active{% endif %} nice-padding">
    <form class="embed-video-search search-bar" action="{% url 'wagtail_embed_videos_chooser' %}{% if will_select_format %}?select_format=true{% endif %}" method="GET" autocomplete="off">
        <ul class="fields">
            {% for field in searchform %}
                {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
            {% endfor %}
            <li class="submit"><input type="submit" value="{% trans 'Search' %}" /></li>
            {% if popular_tags %}
                <li class="taglist">
                    <h3>{% trans 'Popular tags' %}</h3>
                    {% for tag in popular_tags %}
                        <a class="suggested-tag tag" href="{% url 'wagtail_embed_videos_index' %}?q={{ tag.name|urlencode }}">{{ tag.name }}</a>
                    {% endfor %}
                </li>
            {% endif %}
        </ul>
    </form>
    <div id="embed-video-results">
        {% include "wagtail_embed_videos/chooser/results.html" %}
    </div>
    {% if can_add %}
        <p>{% blocktrans %}Add more {% endblocktrans %}<a href="{% url "wagtail_embed_videos_add_embed_video" %}" target="_blank">{% trans "Video" %}</p>
    {% endif %}
    <script>
    function(modal) {
    var searchUrl = $('form.embed-video-search', modal.body).attr('action');

    function ajaxifyLinks (context) {
        $('.listing a', context).click(function() {
            modal.loadUrl(this.href);
            return false;
        });

        $('.pagination a', context).click(function() {
            var page = this.getAttribute("data-page");
            setPage(page);
            return false;
        });
    }

    function search() {
        $.ajax({
            url: searchUrl,
            data: {q: $('#id_q').val()},
            success: function(data, status) {
                $('#embed-video-results').html(data);
                ajaxifyLinks($('#embed-video-results'));
            }
        });
        return false;
    }

    function setPage(page) {
        if($('#id_q').val().length){
            dataObj = {q: $('#id_q').val(), p: page};
        }else{
            dataObj = {p: page};
        }

        $.ajax({
            url: searchUrl,
            data: dataObj,
            success: function(data, status) {
                $('#embed-video-results').html(data);
                ajaxifyLinks($('#embed-video-results'));
            }
        });
        return false;
    }

    ajaxifyLinks(modal.body);

    // $('form.embed-video-upload', modal.body).submit(function() {
    //     var formdata = new FormData(this);

    //     $.ajax({
    //         url: this.action,
    //         data: formdata,
    //         processData: false,
    //         contentType: false,
    //         type: 'POST',
    //         dataType: 'text',
    //         success: function(response){
    //             modal.loadResponseText(response);
    //         }
    //     });

    //     return false;
    // });

    $('form.embed-video-search', modal.body).submit(search);

    $('#id_q').on('input', function() {
        clearTimeout($.data(this, 'timer'));
        var wait = setTimeout(search, 200);
        $(this).data('timer', wait);
    });
    $('a.suggested-tag').click(function() {
        $('#id_q').val($(this).text());
        search();
        return false;
    });

    {% url 'wagtailadmin_tag_autocomplete' as autocomplete_url %}

    /* Add tag entry interface (with autocompletion) to the tag field of the embed video upload form */
    $('#id_tags', modal.body).tagit({
        autocomplete: {source: "{{ autocomplete_url|addslashes }}"}
    });
}

    
    </script>
</section>
